.table-style {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.035em;
    border-collapse: collapse;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.table-style th, td, tr {
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.table-style th {
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.table-style td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
