.myfood-meals-container {
    display: grid;
    grid-template-areas: 
    "time time"
    "breakfast lunch"
    "dinner snacks";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2vw;
    padding: 0px 20px 20px 20px;
}

.myfood-time {
    grid-area: time;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.myfood-container {
    margin-top: 1rem !important;
}

.myfood-breakfast {
    grid-area: breakfast;

}

.myfood-lunch {
    grid-area: lunch;
}

.myfood-dinner {
    grid-area: dinner;
}

.myfood-snacks {
    grid-area: snacks;
}