.goaltile, .goalgauge{
    height:100%;
    width:100%;
}

.goaltile{
    padding: 5%;
    box-sizing: border-box;
}

.goalgauge{
    padding: 15%;
    padding-bottom: 0;
    box-sizing: border-box;
}

.goaltile, .goaltile *{
    background-color: white;
}

.goalgauge > svg > text >tspan{
    display: block;
    color: #4A484E;
}

.goalheader{
    font-weight: 500;
    font-size: 1.5rem;
    color: #4A484E;
    line-height: 1;
    margin-left: 10%;
}