.main-title {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.055em;
    color: #4A484E;
    text-align: center;
    padding-bottom: 20px;
}

.main-container {
    max-width: 400px;
    align-items: center;
    padding: 20px;
}

.container-button {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
} 