.my-weights-container p{
    font-size: 1.2rem;
    padding: 0 0 40px 10px;
}

.my-weights-container .tile{
    padding: 20px;
    min-width: 500px;
    max-height: 70vh;
}

.my-weights-container .tile-container {
    max-height: 90vh;
}

.my-weights-container .tile-title{
    margin: 1rem 0 0 0;
    height: 10%;
}

.my-weights-container .tile .weights-table{   
    display: block; 
    max-height: 50vh;
    width: 100%;
}

.my-weights-container .tile .weights-table tr:first-of-type > th{
    position: sticky;
    top: 0;
    background: white;
}

.empty-weights-error{
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
}

/* trick for making the text centered */
.empty-weights-error::before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;    
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



