.main-title {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.055em;
    color: #4A484E;
    text-align: center;
}

.main-container {
    max-width: 500px;
    align-items: center;
}
.main-hr {
    background: #DA1B36;
    border-radius: 5px;
    width: 100%;
    height: 10px;
}

.secondstep-container-button {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.div-registration .container-button > button, .secondstep-container-button > button {
    width: 45%;
    min-width: 150px;
    max-width: 200px;
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

@media (max-width: 400px) {
    .div-registration .main-container {
        padding: 0;
    }
    .secondstep-container-button {
        flex-direction: column;
        align-items: center;
    }
    .sign-up-button {
        order: -1;
    }
}