.main-title {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.055em;
    color: #4A484E;
    text-align: center;
}

.main-container {
    max-width: 500px;
    align-items: center;
    padding: 20px;
}
.main-hr {
    background: #DA1B36;
    border-radius: 5px;
    width: 100%;
    height: 10px;
}

.div-registration .container-button {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.div-registration .container-button > button {
    width: 45%;
    max-width: 200px;
}

@media (max-width: 350px) {
    .div-registration .main-container {
        padding: 0;
    }
}