.exercises{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh auto;
}

.exercises-time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.exercises > .tile{
    width: 50%;
}

@media (max-width: 1400px){
    .exercises > .tile{
        width: 500px;
    }
}