@import './UIComponents/Buttons/Buttons.css';
@import './UIComponents/FormComponent/FormComponent.css';
@import './UIComponents/TileComponent/TileComponent.css';
@import './UIComponents/ModalWindow/ModalWindow.css';
@import './UIComponents/ReusableTable/ReusableTable.css';
@import './UIComponents/HistoricalWeeklyGoalsTable/HistoricalWeeklyGoalsTable.css';
@import './UIComponents/WeeklyGoalComponent/WeeklyGoalComponent.css';
@import './UIComponents/AddDiaryItem/AddDiaryItem.css';
@import './UIComponents/GoalTile/GoalTile.css';
@import './UIComponents/RadioGroup/RadioGroup.css';
@import './UIComponents/Select/Select.css';
@import './UIComponents/ProfileInfo/ProfileInfo.css';
@import './UIComponents/InitialView/InitialView.css';
@import './UIComponents/TileMyWeight/TileMyWeight.css';
@import './UIComponents/Dashboard/Dashboard.css';
@import './UIComponents/MyWeights/MyWeights.css';
@import './UIComponents/MyDiaryFood/MyDiaryFood.css';
@import './UIComponents/Overview/Overview.css';
@import './UIComponents/SecondStepComponent/SecondStepComponent.css';
@import './UIComponents/LogIn/LogIn.css';
@import './UIComponents/DashboardView/DashboardView.css';
@import './UIComponents/ModalWindow/ModalWindow.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

